@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");
@import url("https://use.typekit.net/tdl8ppx.css");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: #f1f2f6;
  font-weight: 500;
}

h1 {
  font-family: "Tw cen MT", century-gothic, "Futura-Medium", "Josefin Sans", sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 50px;
  color: #3d3d3d;
}

h2 {
  font-family: "Tw cen MT", century-gothic, "Futura-Medium", "Josefin Sans", sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
  color: #3d3d3d;
}

h4 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 20px;
  line-height: 33px;
  color: #3d3d3d;
  font-weight: 500;
}

p {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #3d3d3d;
}

li {
  font-family: "Noto Sans JP", sans-serif;
  color: #3d3d3d;
}

.headlabel {
  font-family: "Tw cen MT", century-gothic, "Futura-Medium", "Josefin Sans", sans-serif;
  margin: 120px auto 50px 50px;
  padding-left: 20px;
}

.round-cap-left:before {
  background-color: #EE537F;
  /* 線色 */
  border-radius: 2px;
  /* 線幅の半分 */
  content: "";
  display: inline-block;
  height: 40px;
  /* 線の長さ */
  margin-right: 20px;
  /* 線右の余白 */
  vertical-align: middle;
  width: 4px;
  /* 線幅 */
}

#topimg {
  width: 100%;
  background-color: #3d3d3d;
  height: 100vh;
  Position: relative;
}

#topimg #bm {
  background-color: #3d3d3d;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#topimg #topcontent {
  width: auto;
  position: absolute;
  top: 43vh;
  left: 0;
  right: 0;
  margin: auto;
}

#topimg #topcontent #topcopy {
  font-family: "Tw cen MT", century-gothic, "Futura-Medium", "Josefin Sans", sans-serif;
  font-weight: 500;
  text-align: center;
  color: #f1f2f6;
  line-height: 60px;
  letter-spacing: 2px;
  font-size: 48px;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

#topimg #topcontent #topcopy span {
  color: #EE537F;
  font-family: "Tw cen MT", century-gothic, "Futura-Medium", "Josefin Sans", sans-serif;
}

header h3 {
  padding-left: 25px;
  font-family: "Tw cen MT", century-gothic, "Futura-Medium", "Josefin Sans", sans-serif;
  color: #f1f2f6;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 2px;
  position: absolute;
  top: 40px;
  left: 70px;
  width: auto;
  z-index: 3;
}

header nav {
  position: absolute;
  position: fixed;
  top: 40px;
  right: 30px;
  width: auto;
  z-index: 3;
  background-color: #3d3d3d;
  border-radius: 100px;
  overflow: hidden;
}

header nav ul {
  list-style: none;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 50px;
  left: 50px;
  min-width: 200px;
}

header nav ul #arrow {
  width: 30px;
  cursor: pointer;
}

header nav ul li {
  font-family: "Tw cen MT", century-gothic, "Futura-Medium", "Josefin Sans", sans-serif;
  font-size: 20px;
  padding: 10px;
  margin: 0 20px;
  text-align: center;
  font-weight: 500;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  color: #f1f2f6;
  overflow: hidden;
  width: 130px;
}

header nav ul li:nth-child(5) {
  width: 40px;
  cursor: pointer;
}

header nav ul li:hover {
  background-color: #3d3d3d;
  border-radius: 100px;
  color: #EE537F;
  -webkit-transform: rotateZ(-4deg);
          transform: rotateZ(-4deg);
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

header nav ul li a {
  text-decoration: none;
  color: #f1f2f6;
  font-family: "Tw cen MT", century-gothic, "Futura-Medium", "Josefin Sans", sans-serif;
  white-space: nowrap;
}

header nav ul li a:hover {
  color: #EE537F;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

footer {
  margin-top: 150px;
  width: 100%;
  height: auto;
  background-color: #3d3d3d;
}

footer small {
  display: block;
  color: #ffffff;
  padding: 50px 0;
  text-align: center;
  font-family: "Tw cen MT", century-gothic, "Futura-Medium", "Josefin Sans", sans-serif;
  font-weight: 500;
}

.wrapper .content {
  margin: 30px auto 0 auto;
  width: 1000px;
  height: auto;
}

.wrapper .content .aboutme {
  width: 100%;
  height: auto;
}

.wrapper .content .aboutme .aboutmelabel {
  font-family: "Tw cen MT", century-gothic, "Futura-Medium", "Josefin Sans", sans-serif;
  margin: 120px auto 50px 50px;
  padding-left: 20px;
}

.wrapper .content .aboutme .aboutmecontent {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .content .aboutme .aboutmecontent img {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  width: 40%;
  padding: 30px;
  margin: 50px auto;
  margin-top: 30px;
  padding: auto;
}

.wrapper .content .aboutme .aboutmecontent .selfintro {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  width: 65%;
}

.wrapper .content .aboutme .aboutmecontent .selfintro h1 {
  font-family: "Tw cen MT", century-gothic, "Futura-Medium", "Josefin Sans", sans-serif;
  margin: 30px;
}

.wrapper .content .aboutme .aboutmecontent .selfintro .introtitle {
  font-family: "Noto Sans JP", sans-serif;
  margin: 30px;
}

.wrapper .content .aboutme .aboutmecontent .selfintro .introdescription {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  margin: 30px;
}

.wrapper .content .aboutme .more {
  display: none;
}

.wrapper .content .aboutme .more h2 {
  margin: 30px;
  margin-top: 150px;
  text-align: center;
}

.wrapper .content .aboutme .more h4 {
  margin: 30px auto;
  width: 70%;
}

.wrapper .content .aboutme .more p {
  font-size: 16px;
  line-height: 30px;
  width: 70%;
  margin: 30px auto;
}

.wrapper .content .aboutme .showmore {
  margin: 0 auto;
  cursor: pointer;
  display: block;
  padding: 0.3em 1em;
  margin: 100px auto 200px auto;
  width: 500px;
  text-decoration: none;
  font-family: "Tw cen MT", century-gothic, "Futura-Medium", "Josefin Sans", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #3d3d3d;
  border: solid 3px #3d3d3d;
  border-radius: 100px;
  -webkit-transition: .4s;
  transition: .4s;
}

.wrapper .content .aboutme .showmore h2 {
  text-align: center;
}

.wrapper .content .aboutme .showmore:hover {
  border-color: #EE537F;
  background: #EE537F;
  color: white;
}

.wrapper .content .aboutme .skillslabel {
  font-family: "Tw cen MT", century-gothic, "Futura-Medium", "Josefin Sans", sans-serif;
  text-align: center;
  margin: 30px;
}

.wrapper .content .aboutme .skillslist {
  width: 80%;
  margin: 0 auto;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.wrapper .content .aboutme .skillslist li {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-left: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

.wrapper .content .aboutme .skillslist li img {
  width: 60px;
  height: auto;
}

.wrapper .content .aboutme .skillslist li .skillsdescription {
  margin-left: 20px;
}

.wrapper .content .aboutme .skillslist li .skillsdescription h3 {
  font-family: "Tw cen MT", century-gothic, "Futura-Medium", "Josefin Sans", sans-serif;
  font-weight: 500;
}

.wrapper .content .aboutme .skillslist li .skillsdescription p {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  font-weight: 500;
  width: 150px;
  line-height: 1.2;
  margin-top: 8px;
}

.wrapper .content .contact {
  width: 100%;
  height: 500px;
}

.wrapper .content .contact .contactlabel {
  font-family: "Tw cen MT", century-gothic, "Futura-Medium", "Josefin Sans", sans-serif;
  margin: 120px auto 50px 0;
  padding-left: 20px;
}

.wrapper .content .contact .name {
  text-align: right;
  margin-right: 40px;
  font-size: 20px;
}

.wrapper .content .contact ul {
  margin: 100px 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .content .contact ul li {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  list-style: none;
  font-size: 40px;
  text-align: center;
  color: #3d3d3d;
}

.wrapper .content .contact ul li .disabled {
  color: #AAAFB8;
}

.wrapper .content .contact ul li a {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  list-style: none;
  font-size: 40px;
  text-align: center;
  color: #3d3d3d;
}

.wrapper .content .contact ul li a i {
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
}

.wrapper .content .contact ul li a i:hover {
  -webkit-transform: rotateZ(-8deg);
          transform: rotateZ(-8deg);
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.wrapper .content .contact ul li a:hover {
  color: #EE537F;
}

.wrapper .content .contact h3 {
  text-align: center;
  font-family: "Tw cen MT", century-gothic, "Futura-Medium", "Josefin Sans", sans-serif;
  font-weight: 500;
  font-size: 25px;
  line-height: 40px;
  color: #3d3d3d;
  margin-bottom: 150px;
}

.works {
  width: 95%;
  max-width: 1440px;
  margin: auto;
}

.works .workslabel {
  font-family: "Tw cen MT", century-gothic, "Futura-Medium", "Josefin Sans", sans-serif;
  margin: 120px auto 50px 50px;
  padding-left: 20px;
}

.works ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works ul li {
  width: 50%;
  margin: auto;
  list-style: none;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.works ul li .imgguide {
  margin: 20px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
  display: inline-block;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.works ul li .imgguide:hover {
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.25);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.works ul li .imgguide img {
  width: 100%;
}

.works ul li .imgguide img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.workstop {
  width: 100%;
  height: 500px;
}

.workstop .content {
  width: 1000px;
  height: auto;
  margin: auto;
  position: relative;
}

.workstop .content img {
  position: absolute;
  top: 0;
  width: 100%;
}

#utiletop {
  background: url(utile/img/utiletopback.png);
}

#jyarantop {
  background-color: #f6b93b;
}

#osaifutop {
  background-color: #d5d5d6;
}

#othertop {
  background-color: #3d3d3d;
}

#chameleballtop {
  background: #179f9f;
  background: linear-gradient(120deg, #179f9f 0%, #4acd5a 100%);
}

#hudlogtop {
  background-color: #e5e5e5;
}

.workswrapper {
  margin: 0 auto;
  width: 80%;
  max-width: 1000px;
  height: auto;
}

.workswrapper .content h1 {
  font-family: "Tw cen MT", century-gothic, "Futura-Medium", "Josefin Sans", sans-serif;
  width: 80%;
}

.workswrapper .content h2 {
  font-family: "Tw cen MT", century-gothic, "Futura-Medium", "Josefin Sans", sans-serif;
  margin: 100px auto 50px auto;
  padding-left: 20px;
}

.workswrapper .content h4 {
  margin-top: 40px;
}

.workswrapper .content p {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 37px;
  margin: auto;
}

.workswrapper .content img {
  width: 100%;
  margin: 75px auto;
}

.workswrapper .content iframe {
  width: 960px;
  height: 540px;
  margin: 30px auto;
}

.workswrapper .content .round-cap-left:before {
  background-color: #EE537F;
  /* 線色 */
  border-radius: 3px;
  /* 線幅の半分 */
  content: "";
  display: inline-block;
  height: 40px;
  /* 線の長さ */
  margin-right: 20px;
  /* 線右の余白 */
  vertical-align: middle;
  width: 6px;
  /* 線幅 */
}

.workswrapper .content .prototype {
  margin: 50px auto;
  text-align: center;
}

.workswrapper .content .btn-flat-border {
  display: block;
  padding: 0.3em 1em;
  margin: 100px auto 200px auto;
  width: 500px;
  text-decoration: none;
  font-family: "Tw cen MT", century-gothic, "Futura-Medium", "Josefin Sans", sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #3d3d3d;
  border: solid 3px #3d3d3d;
  border-radius: 100px;
  -webkit-transition: .4s;
  transition: .4s;
}

.workswrapper .content .btn-flat-border:hover {
  border-color: #EE537F;
  background: #EE537F;
  color: #3d3d3d;
}

.workswrapper .content .otherwork {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.workswrapper .content .otherwork .otherworkelement {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  width: 50%;
}

.workswrapper .content .otherwork .otherworkelement h4 {
  margin: 80px 40px;
}

.workswrapper .content .otherwork .otherworkelement p {
  margin: 80px 40px;
}
/*# sourceMappingURL=style.css.map */